/* Класи для модального вікна navbar */

/* .modal-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: #fff;

  &.modal--is-open {
    display: flex;
  }
} */
